body{
    background-color:#777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    margin-left: 150px;
    
    
    
}

.container{
    
    margin: 0 auto;
}


header{
    background-color: #ebebeb;
    color: grey;
    padding: 20px;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 15px;
    
}


#nav{
    position: relative;
    background-color: #ebebeb;
    color: grey;
    padding: 20px;
    margin-bottom: 20px;
    
    text-align: center;

    
}


#section{
    background-color: #ebebeb;
    color: grey;
    padding: 20px;
    margin-bottom: 20px;
   
    width: 495px; 
    height: 200px;
    float: left;
    text-align: center;
}

#aside{
    background-color:#ebebeb;
    color: grey;
    padding: 20px;
    margin-bottom: 20px;
    
    margin-left: 20px;
    width: 365px;
    height: 200px;
    float: left;
    text-align: center;
}

#article{
    clear: both;
    background-color: grey;
    color: white;
    padding: 20px;
   
    margin-bottom: 20px;
  
    margin:15px;
    width: 455px;
    height: 120px;
    overflow: auto;
    text-align: center;
    position: absolute;
    top: 225px;
}



#h1h2h3{
    background-color:#ebebeb;
    color: grey;
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 23px;
    width: 435px;
    height: 7px;
    
    text-align: center;
    position: absolute;
    top: 285px;
    
}

#p{
    background-color: #ebebeb;
    color: grey;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 23px;
    width: 435px;
    height: 7px;
  
    text-align: center;
    position: absolute;
    top: 345px;
}

#footer{
    background-color: #ebebeb;
    color: grey;
    padding: 20px;
    margin-bottom: 20px;
  
    text-align: center;
    position: absolute;
    width: 920px;
    top: 420px;
    
       
}